[submodule "susfs4ksu"]
	path = susfs4ksu
	branch = kernel-4.14
	url = https://gitlab.com/simonpunk/susfs4ksu
	ignore = all
[submodule "KernelSU"]
	path = KernelSU
	branch = next
	url = https://gitlab.com/sidex15/KernelSU-next
	ignore = all
