[submodule "susfs4ksu"]
	path = susfs4ksu
	branch = kernel-4.14
	url = https://gitlab.com/simonpunk/susfs4ksu
	ignore = dirty
[submodule "KernelSU"]
	path = KernelSU
	branch = next-susfs-experimental
	url = https://github.com/sidex15/KernelSU-Next
